<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linchuanedu.edu.dao.ISubjectDao">

    <insert id="addSubject" parameterType="SubjectDO">
        INSERT INTO t_subject_info (grade,subject,bookable,create_by,create_ts)
        VALUES (#{grade},#{subject},#{bookable},#{createBy},#{createTs})
    </insert>

    <select id="getSubject" parameterType="SubjectDO" resultType="SubjectDO">
        SELECT
        subject_id subjectId,
        grade grade,
        subject subject,
        bookable bookable,
        create_by createBy,
        modify_by modifyBy,
        create_ts createTs,
        modify_ts modifyTs
        FROM t_subject_info
        WHERE 1 = 1
        <if test="bookable != null">AND bookable = #{bookable}</if>
    </select>

    <update id="updateSubject" parameterType="SubjectDO">
        UPDATE t_subject_info SET
        <if test="grade != null and grade != ''">grade = #{grade},</if>
        <if test="subject != null and subject != ''">subject = #{subject},</if>
        <if test="bookable != null and bookable != ''">bookable = #{bookable},</if>
        modify_by = #{modifyBy},
        modify_ts = #{modifyTs}
        WHERE subject_id = #{subjectId}
    </update>
</mapper>